  <footer class="text-center text-lg">
    <strong>
      <p class="border-b border-gray-900 mb-1">This is Footer</p>
    </strong>
  </footer>
  <footer class="text-center mt-6 pb-6 h-10">
    <p class="text-gray-500">
      <a class="border-b mb-1" href="https://github.com/nickjj/docker-rails-example">Coded</a>
      with
      <svg class="h-5 w-5 text-red-600 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
      </svg>
      by
      <a class="border-b mb-1" href="https://nickjanetakis.com">Nick Janetakis</a>
    </p>
  </footer>

